html {
  height: 100%;
}
body {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  height:100%;
  display: flex;
  flex-flow: column nowrap;
}
#header {
  padding: 2px 20px;
  height: 48px;
  font-size: 30px;
  color: #fff;
  background-color: #333;
}
#header a {
  color: #fff;
  text-decoration: none;
}
#header a:hover {
  color: #ccf;
}
#header small {
  font-size: 14px;
}
#content {
  height:100%;
  display: flex;
  flex-flow: row nowrap;
}
#screen {
  height:100%;
  flex: 1 1 auto;
}
#editor {
  height:100%;
  width: 480px;
  display: flex;
  flex-flow: column nowrap;
}
#texteditor {
  flex: 1 1 auto;
}
#controler {
  position:absolute;
  height: 50px;
  bottom: 0px;
}
#message {
  font: normal 12px Arial;
  color: red;
}
button {
  width: 180px;
  height: 40px;
  border: solid 1px #ccc;
  border-radius: 3px;
}
button#runscript {
  margin-left:50px;
}
button#capture {
  position: absolute;
  right:  20px;
  bottom: 20px;
}
button#scripturl {
  position: absolute;
  right:  20px;
  bottom: 80px;
}
